
button {
    background-color: #52e824 !important;
    border: none !important;
    color: rgb(252, 252, 252) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 18px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}